<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>977203962812-in5and1r10udkk5lq80k29fdbaiai1f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977203962812-in5and1r10udkk5lq80k29fdbaiai1f5</string>
	<key>API_KEY</key>
	<string>AIzaSyA-mWZWtkRHxo0VWN2X5wCPuxsZ6d13R_c</string>
	<key>GCM_SENDER_ID</key>
	<string>977203962812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talaris.Talaris</string>
	<key>PROJECT_ID</key>
	<string>talaris-ec1aa</string>
	<key>STORAGE_BUCKET</key>
	<string>talaris-ec1aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977203962812:ios:c72722aa25a906c5</string>
	<key>DATABASE_URL</key>
	<string>https://talaris-ec1aa.firebaseio.com</string>
</dict>
</plist>